
.AdminLogin form{

    width: 600px;
    display: grid;
    grid-template-columns: 200px 300px;
    justify-content: center;
    padding: 18px;
    box-shadow: 0px ,0px, 20px white;
    border-radius: 20px;
}

.AdminLogin input{
    margin: 10px;
}
.AdminLogin{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq7IvCFyB455c1zh30L1QrH3FeUK4vi9gfPKvePQ4JuA&s);

    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

