* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00005a;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .option {
    
  }
  