body {
    background-image: url("../BusImages/fotor-ai-2024061210501.jpg");
    background-size: cover;
    transition: opacity 0.3s ease;
}

.dimmed-background {
    opacity: 0.5;
}

.landingpages {
    display: flex;
    gap: 20px;
}

.landingpages a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.landingpages a h2 {
    margin: 0 10px;
    transition: opacity 0.3s ease;
}

.dimmed {
    opacity: 0.5;
}

.hidden {
    display: none;
}
